<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet"/>
    <title>--我创建的课程--</title>
</head>
<body class="gray-bg">

<table class="layui-hide" id="courseList"></table>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:inline="none">
    layui.use(['table'], function () {
        var table = layui.table;//使用数据表格

        table.render({
            elem: '#courseList',//选择html中对应的数据表格ID
            url: '/user/showcourse',//分页提交到spring boot 代码的映射名称
            method: 'GET',
            limit: 8,//每页显示的记录数量
            limits: [5, 8, 10, 15, 20],//可选择每页显示的数量
            page: true,//开启分页

            //设置表头的数组
            //field：后台传回的数字字段名，
            //title：表头文字
            //templet: function(data){} 数据表格请求后台回调函数，处理数据
            //return  表示在对应的列中输出的内容
            cols: [[
                {field: 'cId', width: 60, title: 'ID'},
                {field: 'cName', title: '课程名'},
                {field: 'cCreater', title: '教师邮箱'},
                {field: 'cBegintime', title: '上课时间'},
                {field: 'cEndtime', width: 60, title: '下课时间'},
                {
                    fixed: 'right', title: '操作', width: 150,
                    templet: function (data) {
                        return "<a href='/user/coursedetail/" + data.cId + "' title='查看' class='layui-btn layui-btn-xs layui-btn-normal'><icon class='layui-icon'>&#xe60b;</icon></a>" +
                            "<a onclick='javascript:select(" + data.cId + ")' title='选课' class='layui-btn layui-bg-red layui-btn-xs layui-btn-normal'><icon class='layui-icon'>&#xe67b;</icon></a>";
                    }
                }
            ]],
            done: function (res, curr, count) {
                console.log("表格渲染完成：");
                console.log(res);
                console.log(curr);
                console.log(count);
            }

        });
    });
    select = function (cid) {
        var param = {
            "cid": cid
        };
        $.ajax({
            type: "POST",
            url: "/user/selectcourse",//目标地址
            contentType: "application/json",
            data: JSON.stringify(param),
            dataType: "json",
            success: function (data) {
                alert(data.msg);
            },
            error: function () {
                alert("接受后台数据失败！");
            }
        })
    }
</script>
</body>
</html>
